[project]
	description = sotheara/project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sothearalove
[access "refs/for/refs/*"]
	read = group user/sothearalove
	push = group user/sothearalove
	label-Code-Review = -2..+2 group user/sothearalove
	label-Verified = -1..+1 group user/sothearalove
	rebase = group user/sothearalove
	removeReviewer = group user/sothearalove
	submit = group user/sothearalove
[access "refs/heads/*"]
	read = group user/sothearalove
	create = group user/sothearalove
	push = +force group user/sothearalove
	pushMerge = group user/sothearalove
[access "refs/tags/*"]
	push = +force group user/sothearalove
	pushTag = group user/sothearalove
	pushSignedTag = group user/sothearalove
